<h1>Epicodus Project Week 11</h1>

<nav>
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
  </ul>
</nav>
