@model Factory.Models.Engineer

<table class='details'>
  <tbody>
  <tr>
    <td>ID</td>
    <td>@Model.EngineerId</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td>Machines</td>
    <td>@Model.Authorizations.Count()</td>
  </tr>
  </tbody>
</table>
