@model Factory.Models.Machine

<table class='details'>
  <tbody>
  <tr>
    <td>ID</td>
    <td>@Model.MachineId</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>@Model.ModelName</td>
  </tr>
  </tbody>
</table>
