@model Factory.Models.Engineer

<h2>Are you sure you want to delete this engineer?</h2>

@using (Html.BeginForm())
{
  <h5>Engineer Details</h5>

  @await Html.PartialAsync("_Tables/_EngineerDetails")

  @if (Model.Authorizations.Count() > 0)
  {
    <hr />
    <h5>This engineer is currently authorized to maintain these machines:</h5>
    @await Html.PartialAsync("_Tables/_MachinesTable", @Model.Authorizations.Select(m => m.Machine).ToList())
    <hr />
  }

  @await Html.PartialAsync("_Buttons/_Cancel")
  @await Html.PartialAsync("_Buttons/_Delete")
}
