@section ValidationScripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer: @Html.DisplayFor(e => e.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(e => e.EngineerId)

  @await Html.PartialAsync("_Forms/_EngineerForm")
  <br />
  <button>Edit Engineer</button>
  @await Html.PartialAsync("_Buttons/_Cancel")
}
